* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
}

html {
   font-size: 10px;
   font-family: 'Open Sans', sans-serif;
   background-color: rgb(248, 249, 254);
}

h5 {
   color: rgb(136, 152, 170);
   font-size: 13px;
   line-height: 24px;
   text-transform: uppercase;
}

body {
   max-width: 1920px;
   /* min-width: fit-content; */
   /* width: 1920px; */
}

::-webkit-scrollbar {
   width: 0;
}

.container {
   margin: 0 auto;
}

.sidebar {
   margin-left: 250px;
   display: block;
   position: fixed;
   top: 0;
   bottom: 0;
   background-color: rgb(255,255,255);
   overflow-y: auto;
   /* width: 100%; */
   font-size: 14.4px;
   min-width: 200px;
   box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
}

.sidebar-container {
   padding: 16px 24px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
}

.sidebar-logo {
   padding-left: 14px;
   margin-top: 14px;
}
.sidebar-list {
   list-style-type: none;
   color: rgba(0, 0, 0, 0.5);
   cursor: pointer;
}

.sidebar-list:first-child::before {
   content: '';
   display: block;
   padding: 20px;
}
.sidebar-item {
   padding: 10px 0;
   transition: color .3s ease;
}
.sidebar-item:hover {
   color: #000;
}
.sidebar-item a {
   color: rgba(0, 0, 0, 0.5);
   text-decoration: none;
}
.sidebar-item a:hover {
   color: #000;
}

.sidebar-divider {
   background-color: rgba(0, 0, 0, 0.5);
   min-width: 100%;
   margin: 16px 0;
}

.wrapper {
   /* min-height: 100vh; */
   box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
   max-width: 60%;
   /* max-width: 1920px; */
   background-color: rgb(255, 255, 255);
   margin-left: 450px;
   /* margin-left: 200px; */
   /* margin: 0 auto; */
   border-radius: 6px;
}

header {
   /* padding: 128px; */
   /* padding: 84px; */
   padding: 66px 25px 18px;
   background-image: linear-gradient(87deg, rgb(94, 114, 228), rgb(130, 94, 228));
}

.header-specs {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.specs-item {
   width: 240px;
   text-align: left;
   padding: 16px 24px;
   background-color: rgb(255,255,255);
   border-radius: 6px;
}
.specs-item span {
   font-size: 20px;
   color: rgb(50, 50, 93);
   font-weight: bold;
   /* text-transform: capitalize; */
}

/* PATH */
.quick-navigation {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.path-item-container {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.path-item {
   color: rgb(255,255,255);
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
   letter-spacing: 0.5px;

   /* position: relative; */
   display: flex;
   align-items: center;
   justify-content: center;

   padding: 5px 8px;
   border-radius: 6px;

   background-image: linear-gradient(87deg, rgb(94, 114, 228), rgb(130, 94, 228));
   transition: box-shadow 0.15s ease;
   transition: transform 0.15s ease;
   cursor: pointer;
   user-select: none;
   border: none;
}
.path-item:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}
.path-item.opened {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.path-item.inactive {
   background-image: none;
   background-color: grey;
}

.path-item-text {
   min-height: 34px;
   min-width: 80px;

   font-size: 16px;
   line-height: 24px;
   /* font-weight: 600; */
   color: rgb(50, 50, 93);
   font-weight: bold;
   padding: 4px 8px;
   border: 1px solid rgb(130, 94, 228);
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

.path-line {
   width: 15px;
   height: 2px;
   background-color: grey;
}
.path-line.extended {
   width: 45px;
}
.path-line.colored {
   background-color: rgb(130, 94, 228);
}

/* .path-project-name::after,
.path-module-name::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 110%;
   width: 70px;
   height: 2px;
   background-color: rgb(130, 94, 228);
} */

.path-dropdown {
   /* display: none; */
   z-index: 1;
   position: absolute;
   top: 100%;
   left: 25%;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   outline: none;
   user-select: none;
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.path-dropdown-item {
   padding: 8px 16px;
   color: rgb(82, 95, 127);
   font-size: 14px;
   line-height: 21px;
   cursor: pointer;
   user-select: none;
   outline: none;
   text-decoration: none;
}
.path-dropdown-item:hover {
   background-color: #e5ebf3;
}

.path-dropdown a {
   display: block;
}


/* BTNS */
.btns {
   padding: 20px 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn {
   padding: 4px 8px;
   letter-spacing: 0.5px;
   color: white;
   font-size: 12px;
   line-height: 18px;
   font-weight: 600;
   border: none;
   border-radius: 6px;
   transition: all 0.15s ease;
   cursor: pointer;
}
.btn:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}

.btn-grey {
   background-color: rgb(202, 202, 202);
   border: 1px solid rgb(202, 202, 202);
}  
.dropdown-btn.no-type {
   background-color: rgb(236, 236, 236);
   border: 1px solid #cad1d7;
   /* border: 1px solid #afafaf; */
}
.btn-blue {
   background-color: rgb(94, 114, 228); 
}
.btn-green {
   background-color: rgb(45, 206, 137); 
}
.btn-red {
   background-color: rgb(245, 54, 92); 
}
.btn-white {
   /* border-radius: 6px; */
   color: rgb(94, 114, 228);
   background-color: rgb(255,255,255);
   border: 1px solid #cad1d7; 
   /* border: 1px solid #afafaf; */
}

.divider {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 24px;
   color: #8898aa;
   background-color: #f6f9fc;
   border-top: 1px solid #e9ecef;
   border-bottom: 1px solid #e9ecef;
}

.divider span {
   text-transform: uppercase;
}

/* ACTIONS DROPDOWN */
.actions-dropdown {
   display: none;
   z-index: 1;
   position: absolute;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   outline: none;
   user-select: none;
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.actions-dropdown-item {
   padding: 8px 16px;
   color: rgb(82, 95, 127);
   font-size: 14px;
   line-height: 21px;
   cursor: pointer;
   user-select: none;
   outline: none;
}
.actions-dropdown-item:hover {
   background-color: #e5ebf3;
}

.actions-dropdown a {
   display: block;
}

.actions-icon {
   width: 14px;
   height: 14px;
   margin-right: 14px;
   cursor: pointer;
   outline: none;
   user-select: none;
   margin-top: 3px;
}
.actions-icon:hover {
   transform: translateY(-1px);
}

.btns-bottom {
   margin-top: 30px;
   padding: 34px 24px 24px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   column-gap: 8px;
}

/* STATES */
.visible {
   display: block !important;
}

.display-none {
   display: none;
}

.invisible {
   opacity: 0;
}

.dragging {
   opacity: 1;
}

.no-edit {
   background-color: #c5c5c546;
}

.no-input {
   background-color: #d3d3d346;
}

.error {
   background-color: rgba(255, 104, 104, 0.575);
}

.white-out {
   color: rgba(0,0,0,0.2);
}

.options-opened {
   background-color: #d3d3d346;
}

/* .no-type {
   background-color: rgb(202, 202, 202);
   border: 1px solid rgb(202, 202, 202);
} */

.color-blue {
   color:rgb(94, 114, 228);
}

/* OVERLAY */
#overlay {
   z-index: 998;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0,0,0,0.5);
   opacity: 0;
   pointer-events: none;
}

#overlay.active {
   opacity: 1;
   pointer-events: all;
}

/* NEW ITEM MODAL */
.new-item-modal {
   z-index: 999;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -70%);
   user-select: none;
}

.new-item-modal-header {
   font-size: 17px;
   line-height: 25.5px;
   font-weight: 600;
   color: rgb(50, 50, 93);
   padding: 20px 24px;
   text-align: left;
   background-color: rgb(255,255,255);
   border-bottom: 1px solid #e9ecef;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.new-item-modal-form {
   padding: 48px;
   background-color: rgb(248, 249, 254);
}

.new-item-name {
   width: 540px;
   padding: 10px 12px;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   outline: none;
   border: none;
   box-shadow: 0 2px 2px rgb(50 50 93 / 5%), 0 3px 6px rgb(0 0 0 / 8%);
   min-height: 46px;
}
.new-item-name::placeholder {
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   color: rgba(82, 95, 127,0.6);
}

.new-item-modal-footer-btns {
   padding: 20px 24px;
   background-color: rgb(255,255,255);
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* border-top: 1px solid #e9ecef; */
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

/* DELETION MODAL */
.deletion-modal {
   z-index: 2;
   position: absolute;
   top: 30%;
   left: 37%;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   box-shadow: 0 2px 2px rgb(50 50 93 / 5%), 0 3px 6px rgb(0 0 0 / 8%);
   user-select: none;
}

.deletion-modal-header {
   font-size: 17px;
   line-height: 25.5px;
   font-weight: 600;
   color: rgb(50, 50, 93);
   padding: 20px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.close-deletion-modal-icon {
   cursor: pointer;
}

.deletion-modal-body {
   font-size: 16px;
   font-weight: 300;
   line-height: 27.2px;
   padding: 20px 20px;
   outline: none;
   border: none;
   max-width: 490px;
}

.deletion-modal-footer {
   font-size: 14px;
   font-weight: 600;
   line-height: 21px;
   padding: 20px 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.deletion-cancel {
   color: rgb(35, 61, 210);
   cursor: pointer;
}

.deletion-confirmation {
   color: rgb(255,255,255);
   background-color: rgb(245, 54, 92);
   border-radius: 6px;
   padding: 10px 20px;
   cursor: pointer;
}