* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   outline: none;
}

:root {
   --pseudoElemTop: 40%;
   --pseudoElemLeft: 100%;
   --pseudoElemOpacity: 0;
   --pseudoElemRotation: 45deg;
}

html {
   font-size: 10px;
   font-family: 'Open Sans', sans-serif;
   background-color: rgb(248, 249, 254);
}

h5 {
   color: rgb(136, 152, 170);
   font-size: 13px;
   line-height: 24px;
   text-transform: uppercase;
}

body {
   max-width: 1920px;
   /* min-width: fit-content; */
   /* width: 1920px; */
}

::-webkit-scrollbar {
   width: 0;
}

.container {
   margin: 0 auto;
   overflow: hidden;
}

.project,
.module,
.scenario {
   background-color: rgb(255, 255, 255);
}

.project.hover,
.module.hover,
.scenario.hover {
   background-color: rgba(0,0,0,0.03);
}

.sidebar {
   margin-left: 250px;
   display: block;
   position: fixed;
   top: 0;
   bottom: 0;
   background-color: rgb(255,255,255);
   overflow-y: auto;
   font-size: 14.4px;
   /* min-width: 200px; */
   width: 200px;
   box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
}

.sidebar-container {
   padding: 16px 24px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
}
/* .sidebar-logo {
   padding-left: 14px;
   margin-top: 14px;
} */

.sidebar-logo-img {
   width: 100%;
}
.sidebar-list {
   list-style-type: none;
   color: rgba(0, 0, 0, 0.5);
   cursor: pointer;
}

.sidebar-list:first-child::before {
   content: '';
   display: block;
   padding: 20px;
}
.sidebar-item {
   padding: 10px 0;
   transition: color .3s ease;
}
.sidebar-item:hover {
   color: rgba(0,0,0,0.7);
}
.sidebar-item a {
   color: rgba(0, 0, 0, 0.5);
   text-decoration: none;
}
.sidebar-item a:hover {
   color: rgba(0,0,0,0.7);
}

.fas {
   color: #5e72e4;
   min-width: 26px;
}

.sidebar-divider {
   background-color: rgba(0, 0, 0, 0.5);
   min-width: 100%;
   margin: 16px 0;
}

.wrapper {
   /* min-height: 100vh; */
   box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%) !important;
   max-width: 60%;
   /* max-width: 1920px; */
   background-color: rgb(255, 255, 255);
   margin-left: 450px;
   /* margin-left: 200px; */
   /* margin: 0 auto; */
   border-radius: 6px;
}

header {
   padding: 66px 25px 18px;
   background-image: linear-gradient(87deg, rgb(94, 114, 228), rgb(130, 94, 228));
}

.header-specs {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.specs-item {
   width: 240px;
   text-align: left;
   padding: 16px 24px;
   background-color: rgb(255,255,255);
   border-radius: 6px;
}
.specs-item span {
   font-size: 20px;
   color: rgb(50, 50, 93);
   font-weight: bold;
   overflow-x: hidden;
}

/* PATH */
.quick-navigation {
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.path-item-container {
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.path-item {
   z-index: 1;
   color: rgb(255,255,255);
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
   letter-spacing: 0.5px;

   display: flex;
   align-items: center;
   justify-content: center;

   padding: 5px 8px;
   border-radius: 6px;

   background-image: linear-gradient(87deg, rgb(94, 114, 228), rgb(130, 94, 228));
   cursor: pointer;
   user-select: none;
   border: none;
   transition: all 0.4s ease;
   transform-origin: left;
}
.path-item:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}
.path-item.hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}

.path-item.square-borders {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.path-item.inactive {
   background-image: none;
   background-color: grey;
}
.pr-link {
   width: 84px;
   /* width: fit-content; */
}
.pr-link.opened {
   width: 34px;
}
.mod-link {
   width: 84.4px;
   /* width: fit-content; */
}
.mod-link.opened {
   width: 51px;
}
.scen-link {
   width: 97px;
   /* width: fit-content; */
}
.scen-link.opened {
   width: 56.3px;
}

.path-item-text {
   z-index: 1;
   min-height: 34px;
   min-width: 80px;
   /* width: 120px; */

   font-size: 16px;
   line-height: 24px;
   /* font-weight: 600; */
   color: rgb(50, 50, 93);
   background-color: rgb(255,255,255);
   font-weight: bold;
   padding: 4px 8px;
   user-select: none;
   cursor: pointer;
   border: 1px solid rgb(130, 94, 228);
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   transition: all 0.4s ease;
   transform-origin: left;
}
.path-item-text:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}
.path-item-text.hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}
.path-item-text.contracted {
   /* width: 0; */
   min-width: 0;
   padding: 0px;
}
.path-item-text.borderless {
   border: none;
}

.path-line {
   z-index: 1;
   width: 15px;
   height: 2px;
   background-color: grey;
}
.path-line.extended {
   width: 45px;
}
.path-line.colored {
   background-color: rgb(130, 94, 228);
}

.path-dropdown {
   /* display: none; */
   z-index: 1;
   min-width: 110px;
   position: absolute;
   top: 100%;
   /* left: 25%; */
   background-color: rgb(255,255,255);
   border-radius: 6px !important;
   outline: none;
   user-select: none;
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.path-dropdown-item {
   padding: 8px 16px;
   color: rgb(82, 95, 127);
   font-size: 14px;
   line-height: 21px;
   cursor: pointer;
   user-select: none;
   outline: none;
   text-decoration: none;
}
.path-dropdown-item:first-child {
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
.path-dropdown-item:last-child {
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}
.path-dropdown-item:hover {
   background-color: #e5ebf3;
   /* border-radius: 6px; */
}

.path-dropdown a {
   display: block;
}


/* BTNS */
.btns {
   padding: 20px 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn {
   padding: 4px 8px;
   letter-spacing: 0.5px;
   color: white;
   font-size: 12px;
   line-height: 18px;
   font-weight: 600;
   border: none;
   border-radius: 6px;
   transition: all 0.15s ease;
   cursor: pointer;
   z-index: 1;
   position: relative;  
}
.btn:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}

.btn-grey {
   background-color: rgb(202, 202, 202);
   border: 1px solid rgb(202, 202, 202);
}  
.dropdown-btn.no-type {
   background-color: rgb(236, 236, 236);
   border: 1px solid #cad1d7;
   /* border: 1px solid #afafaf; */
}
.btn-blue {
   background-color: rgb(94, 114, 228); 
}
.btn-green {
   background-color: rgb(45, 206, 137); 
}
.btn-red {
   background-color: rgb(245, 54, 92); 
}
.btn-white {
   /* border-radius: 6px; */
   color: rgb(94, 114, 228);
   background-color: rgb(255,255,255);
   border: 1px solid #cad1d7; 
   /* border: 1px solid #afafaf; */
}

.divider {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 24px;
   color: #8898aa;
   background-color: #f6f9fc;
   border-top: 1px solid #e9ecef;
   border-bottom: 1px solid #e9ecef;
}

.divider span {
   text-transform: uppercase;
}

/* ACTIONS DROPDOWN */
.actions-dropdown {
   display: none;
   z-index: 1;
   position: absolute;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   outline: none;
   user-select: none;
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.actions-dropdown-item {
   padding: 8px 16px;
   color: rgb(82, 95, 127);
   font-size: 14px;
   line-height: 21px;
   text-decoration: none;
   cursor: pointer;
   user-select: none;
   outline: none;
}
.actions-dropdown-item:hover {
   background-color: #e5ebf3;
}

.actions-dropdown-item:first-child {
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
.actions-dropdown-item:last-child {
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

.actions-dropdown a {
   display: block;
}

.actions-icon {
   width: 14px;
   height: 14px;
   margin-right: 14px;
   cursor: pointer;
   outline: none;
   user-select: none;
   margin-top: 3px;
}
.actions-icon:hover {
   transform: translateY(-1px);
}

.btns-bottom {
   margin-top: 30px;
   padding: 34px 24px 24px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   column-gap: 8px;
}

/* STATES */
.visible {
   display: block !important;
}

.display-none {
   display: none;
}

.invisible {
   opacity: 0;
}

.dragging {
   opacity: 1;
}

.no-edit {
   background-color: #c5c5c546;
}

.no-input {
   background-color: #d3d3d346;
}

.error {
   background-color: rgba(255, 104, 104, 0.575);
}

.white-out {
   color: rgba(0,0,0,0.2);
}

.options-opened {
   background-color: #d3d3d346;
}

/* .no-type {
   background-color: rgb(202, 202, 202);
   border: 1px solid rgb(202, 202, 202);
} */

.color-blue {
   color:rgb(94, 114, 228);
}

/* OVERLAY */
#overlay {
   z-index: 998;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0,0,0,0.3);
   opacity: 0;
   pointer-events: none;
   transition: opacity 1s ease;
}
#overlay.active {
   opacity: 1;
   pointer-events: all;
}

/* NEW ITEM MODAL */
.new-item-modal {
   z-index: 999;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -70%);
   user-select: none;
}

.new-item-modal-header {
   font-size: 17px;
   line-height: 25.5px;
   font-weight: 600;
   color: rgb(50, 50, 93);
   padding: 20px 24px;
   text-align: left;
   background-color: rgb(255,255,255);
   border-bottom: 1px solid #e9ecef;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.new-item-modal-form {
   padding: 48px;
   background-color: rgb(248, 249, 254);
}

.new-item-name {
   width: 540px;
   padding: 10px 12px;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   outline: none;
   border: none;
   box-shadow: 0 2px 2px rgb(50 50 93 / 5%), 0 3px 6px rgb(0 0 0 / 8%);
   min-height: 46px;
}
.new-item-name::placeholder {
   font-size: 14px;
   font-weight: 400;
   line-height: 21px;
   color: rgba(82, 95, 127,0.6);
}

.new-item-modal-footer-btns {
   padding: 20px 24px;
   background-color: rgb(255,255,255);
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* border-top: 1px solid #e9ecef; */
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
}

/* DELETION MODAL */
.deletion-modal {
   z-index: 999;
   position: absolute;
   top: 30%;
   left: 37%;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   box-shadow: 0 2px 2px rgb(50 50 93 / 5%), 0 3px 6px rgb(0 0 0 / 8%);
   user-select: none;
}

.deletion-modal-header {
   font-size: 17px;
   line-height: 25.5px;
   font-weight: 600;
   color: rgb(50, 50, 93);
   padding: 20px 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.close-deletion-modal-icon {
   cursor: pointer;
}

.deletion-modal-body {
   font-size: 16px;
   font-weight: 300;
   line-height: 27.2px;
   padding: 20px 20px;
   outline: none;
   border: none;
   max-width: 490px;
}

.deletion-modal-footer {
   font-size: 14px;
   font-weight: 600;
   line-height: 21px;
   padding: 20px 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.deletion-cancel {
   color: rgb(35, 61, 210);
   cursor: pointer;
}

.deletion-confirmation {
   color: rgb(255,255,255);
   background-color: rgb(245, 54, 92);
   border-radius: 6px;
   padding: 10px 20px;
   cursor: pointer;
}

/* PRODUCT TOUR MODALS & DIALOGS*/
.modal {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 999;
   background-color: rgb(255,255,255);
   border-radius: 6px;
   user-select: none;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
   transition: all 0.3s ease, width 0.8s ease, height 0.8s ease, scale 0.4s ease, top 0.5s ease, left 0.5s ease;
   transform: translate(-50%, -50%) scale(0);

   font-size: 17px;
   line-height: 25.5px;
   font-weight: 600;
   color: rgb(50, 50, 93);
}
.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.modal::after {
   content: "";
   position: absolute;
   z-index: 999;
   height: 25px;
   width: 0;
   
   margin-left: -20px;
   border-top: 20px solid white;
   border-top: 20px solid white;
   border-right: 20x solid transparent;
   border-left: 20px solid transparent;
   
   top: var(--pseudoElemTop);
   left: var(--pseudoElemLeft);
   opacity: var(--pseudoElemOpacity);
   transform: rotatez(var(--pseudoElemRotation));
}

.modal-header {
   display: flex;
   align-items: center;
   padding: 14px 12px 10px;
}

.modal-header-content {
   margin: 0 auto;
   font-size: 18px;
}

.close-modal-btn {
   position: absolute;
   right: 0;
   top: 0;
   margin-right: -12px;
   margin-top: -13px;
   padding: 1px 10px;
   font-size: 12px;
   font-weight: 600;
   border: none;
   border-radius: 50%;
   color: rgb(255,255,255);
   background-color: rgb(245, 54, 92);
   transition: all 0.15s ease;
   cursor: pointer;
}
.close-modal-btn:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}

.modal-body {
   padding: 10px 24px 14px;
}

.modal-content {
   text-align: center;
   transition: opacity 0.4s ease;
   max-width: 640px;
}

.modal-footer {
   padding: 4px 12px 16px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   column-gap: 35px;
}
.modal-next-btn {
   width: fit-content;
   padding: 5px 16px;
   display: flex;
   border-radius: 20px;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   color: rgb(255,255,255);
   background-color: rgb(45, 206, 137);
   transition: all 0.15s ease;
   cursor: pointer;
}
.modal-next-btn:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}

.modal-next-btn-icon {
   margin-left: 10px;
}

.modal-order-num {
   position: absolute;
   right: 0;
   top: 0;
   margin-right: 12px;
   margin-top: 10px;
   font-size: 14px;
   letter-spacing: 1px;
   padding: 5px 7px;
   /* border: 1px solid rgba(0, 0, 0, 0.3); */
   border-radius: 6px;
   color: rgba(0, 0, 0, 0.5);
}

.modal-skip-btn {
   max-height: 42px;
   padding: 8.5px 16px;
   border-radius: 20px;
   font-size: 15px;
   border: 1px solid rgba(0, 0, 0, 0.7);
   color: rgba(0, 0, 0, 0.7);
   transition: all 0.15s ease;
   cursor: pointer;
}
.modal-skip-btn:hover {
   box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
   transform: translateY(-1px);
}

.onboarding-focus {
   z-index: 999 !important;
}

/* DOGGY ANIMATION */
.doggy {
   position: absolute;
   pointer-events: none;
   z-index: 1000;
}
.doggy > svg {
   transition: all 2s ease;
}
.doggy-flipped {
   position: absolute;
   pointer-events: none;
   z-index: 1000;
   
   transform: translate(-50%, -50%);
}
.doggy-flipped > svg {
   transition: all 2s ease;
}

.doggy-head {
   position: absolute;
   pointer-events: none;
   z-index: 1000;
}
.doggy-head > svg {
   transition: all 0.5s ease;
}

#doggyHair {
   animation: hair 8s ease infinite;
   transform-origin: bottom right;
   transform-box: fill-box;
}
#doggy-flippedHair {
   animation: hair 8s ease infinite;
   transform-origin: bottom left;
   transform-box: fill-box;
}
#doggyHeadHair {
   animation: hair 8s ease infinite;
   transform-origin: bottom left;
   transform-box: fill-box;
}

#doggyTail {
   animation: tail 3s ease infinite;
   transform-origin: bottom left;
   transform-box: fill-box;
}

#doggy-flippedTail {
   animation: tail 3s ease infinite;
   transform-origin: bottom right;
   transform-box: fill-box;
}

#doggyLeftEye,
#doggyRightEye {
   animation: blink 12s ease infinite;
   transform-origin: bottom center;
   transform-box: fill-box;
}
#doggy-flippedLeftEye,
#doggy-flippedRightEye {
   animation: blink 12s ease infinite;
   transform-origin: bottom center;
   transform-box: fill-box;
}
#doggyHeadLeftEye,
#doggyHeadRightEye {
   animation: blink 5s ease infinite;
   transform-origin: bottom center;
   transform-box: fill-box;
}

@keyframes blink {
   0% {
      transform: scale(1);
   }
   90% {
      transform: scale(1);
   }
   95% {
      transform: scale(0.5);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes tail {
   0% {
      transform: rotateZ(0deg);
   }
   50% {
      transform: rotateZ(40deg);
   }
   100% {
      transform: rotateZ(0deg);
   }
}

@keyframes hair {
   0% {
      transform: rotateZ(0deg);
   }
   80% {
      transform: rotateZ(0deg);
   }
   90% {
      transform: rotateZ(55deg);
   }
   100% {
      transform: rotateZ(0deg);
   }
}

#focusbox {
   z-index: 999;
   position: absolute;
   width: 200px;
   height: 200px;
   border-radius: 6px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: none;
   pointer-events: none;
   box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
   opacity: 0;
   /* transition: opacity 0.8s ease; */
   transition: all 0.3s ease, opacity 1s ease, width 0.4s ease, height 0.4s ease, scale 0.4s ease, top 0.4s ease, left 0.4s ease;
}
#focusbox.active {
   opacity: 1;
}

/* FOLDERS SVG ANIMATION */
#bigFolderBack {
   z-index: 1;
}
#bigFolderFront {
   z-index: 7;
}

#midFolderBack {
   z-index: 3;
}
#midFolderFront {
   z-index: 6;
}

#smallFolderBack {
   z-index: 4;
}
#smallFolderFront {
   z-index: 5;
}