
.btns-col-2 {
   color: rgb(50, 50, 93);
   font-size: 20px;
   font-weight: bold;
   margin-right: 200px;
   display: flex;
   align-items: center;
   column-gap: 5px;
}

.btns-col-3 {
   max-width: fit-content;
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 8px;
}

.divider-module-name {
   margin-right: 150px;
}

.modules {
   min-height: 60vh;
   /* overflow: scroll; */
}

.module {
   font-size: 14px;
   font-weight: 400;
   color: rgb(82, 95, 127);

   padding: 16px 24px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   border-bottom: 1px solid #e9ecef;
   position: relative;
   transition: background-color 0.4s ease;
}

.module-name {
   font-weight: 600;
   line-height: 20px;
   height: 100%;
   position: relative;
   width: 150px;
   color:rgb(94, 114, 228);
   text-decoration: none;
   cursor: pointer;
   user-select: none;
}