/* .wrapper {
   position: relative;
} */
* {
   font-family: "Open Sans", sans-serif;
}

.profile-container {
   position: absolute;
   left: 53.5%;
   top: 35%;
   transform: translate(-50%, -50%);
   margin: 0 auto;
   width: 1000px;
   /* width: 66%; */
   border: 1px solid rgba(0,0,0,0.05);
   border-radius: 6px;
   background-color: rgb(247, 250, 252);
   box-shadow: rgba(136, 152, 170, 0.15) 0px 0px 32px 0px;
}

.profile-header {
   padding: 20px 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.profile-header-title {
   /* font-family: "Open Sans", sans-serif; */
   font-size: 17px;
   font-weight: 600;
   color: rgb(50, 50, 93);
}

.profile-header-btns input[value="Save"] {
   margin-right: 8px;
}

.profile-body {
   padding: 24px 24px 0 24px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.profile-input-wrapper {
   margin-bottom: 24px;
}

.profile-input-label {
   display: block;
   font-size: 14px;
   font-weight: 600;
   color: rgb(82, 95, 127);
   line-height: 21px;
   /* font-family: "Open Sans", sans-serif; */
   margin-bottom: 8px;
   margin-left: 8px;
}

.profile-input {
   padding: 10px 12px;
   width: 460px;
   font-size: 14px;
   line-height: 21px;
   /* font-family: "Open Sans", sans-serif; */
   color: #525f7f;
   border: 0;
   border-radius: 6px;
   border-color: rgba(50,151,211,0.25);
   box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}
.profile-input::placeholder {
   color: rgba(0,0,0,0.5)
}

.profile-footer {
   padding: 4px 24px 20px;
}

.input-group {
   display: flex;
   align-items: center;
   padding: 10px 12px 10px 0;

   font-size: 14px;
   line-height: 21px;
   color: #525f7f;
   border-radius: 6px;
}

.input-group-text {
   padding: 10px 12px 10px 0;
}

.input-group-select {
   min-width: 260px;
   padding: 10px 12px;
   border: 0;
   border-radius: 6px;
   border-color: rgba(50,151,211,0.25);
   box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}

.profile-footer-btns {
   font-size: 14px;
}

.profile-checkbox-wrapper {
   display: flex;
   align-items: center;
}

.profile-checkbox-wrapper:first-child {
   margin-top: 12px;
   margin-bottom: 16px;
}

/* .profile-checkbox-wrapper:nth-child(2) {
   margin-top: 14px;
} */

.profile-checkbox {
   width: 22px;
   height: 22px;
   border-radius: 6px;
   margin-right: 10px;
   cursor: pointer;
}

.profile-checkbox-label {
   font-size: 14px;
   line-height: 21px;
   /* font-family: "Open Sans", sans-serif; */
   color: #525f7f;
}

input[value="Set Email Notifications"] {
   font-size: 14px;
   padding: 10px 14px;
   margin-left: 14px;
}

input[value="Connect Github"] {
   font-size: 14px;
   padding: 10px 14px;
   /* margin: 0 auto; */
}

.github-btn {
   font-size: 14px;
   padding: 10px 14px;
}

.github-btn-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}

.github-logo {
   width: 34px;
   height: 34px;
}

/* //////////////////////////// */
/* //////////////////////////// */
.notifications-table {
   border-collapse: collapse;
}

.notifications-table-header {
   font-size: 20px !important;
}

.notifications-table tr:last-child {
   border-bottom: 0;
}

.notifications-table th {
   padding: 10px 12px;
   font-size: 16px;
   /* color:rgb(50, 50, 93); */
   border-left: 0.5px solid #000;
   border-right: 0.5px solid #000;
   border-bottom: 0.5px solid #000;
}
.notifications-table th:first-child {
   border-left: 0;
}
.notifications-table th:last-child {
   border-right: 0;
}

.table-project-name {
   font-size: 14px;
   line-height: 21px;
   /* font-family: "Open Sans", sans-serif; */
   color: #525f7f;
   font-weight: 400;
}

.table-radio {
   width: 18px;
   height: 18px;
}

.tick {
   font-size: 20px !important;
   color: rgb(94, 114, 228);
}
