.btns-col-3 input {
   margin-left: 5px;
}

.divider-scenario-name {
   margin-right: 150px;
}

.scenarios {
   min-height: 60vh;
   /* min-height: 45vh; */
}

.scenario {
   font-size: 14px;
   font-weight: 400;
   color: rgb(82, 95, 127);

   padding: 16px 24px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   border-bottom: 1px solid #e9ecef;
   position: relative;
   transition: background-color 0.4s ease;
}

.scenario-name {
   font-weight: 600;
   line-height: 20px;
   height: 100%;
   position: relative;
   width: 150px;
   color:rgb(94, 114, 228);
   text-decoration: none;
   cursor: pointer;
   user-select: none;
}